In [43]:
import pandas as pd
import numpy as np

In [11]:
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [12]:
#Properties of period
dir(y)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [13]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [14]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [15]:
y.is_leap_year

True

In [16]:
m = pd.Period('2016-01')
m

Period('2016-01', 'M')

In [17]:
m.start_time

Timestamp('2016-01-01 00:00:00')

In [18]:
m.end_time

Timestamp('2016-01-31 23:59:59.999999999')

In [23]:
m+1

Period('2016-02', 'M')

In [22]:
m+17

Period('2017-06', 'M')

In [20]:
d = pd.Period('2016-01-01')
d

Period('2016-01-01', 'D')

In [24]:
d+2

Period('2016-01-03', 'D')

In [25]:
d+100

Period('2016-04-10', 'D')

In [31]:
q = pd.Period('2016Q1')
q

Period('2016Q1', 'Q-DEC')

In [32]:
q.start_time

Timestamp('2016-01-01 00:00:00')

In [33]:
q.end_time

Timestamp('2016-03-31 23:59:59.999999999')

In [40]:
q+2

Period('2016Q3', 'Q-DEC')

In [35]:
q2 = pd.Period('2017Q1', freq = 'Q-JAN')
q2

Period('2017Q1', 'Q-JAN')

In [36]:
q2.start_time

Timestamp('2016-02-01 00:00:00')

In [37]:
q2.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [39]:
q2+1

Period('2017Q2', 'Q-JAN')

As datetime index, these periods can be used as an index into a data frame.

In [42]:
idx = pd.period_range('2011', '2017', freq = 'Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [45]:
ps = pd.Series(np.random.randn(len(idx)), idx)
ps.head(10)

2011Q1   -1.171980
2011Q2    0.663104
2011Q3    0.365144
2011Q4   -0.524966
2012Q1    1.718699
2012Q2   -0.298094
2012Q3    0.905754
2012Q4   -0.331326
2013Q1    0.390667
2013Q2   -1.436556
Freq: Q-DEC, dtype: float64

In [46]:
ps.index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [47]:
ps['2011']

2011Q1   -1.171980
2011Q2    0.663104
2011Q3    0.365144
2011Q4   -0.524966
Freq: Q-DEC, dtype: float64

In [48]:
ps['2011' : '2013']

2011Q1   -1.171980
2011Q2    0.663104
2011Q3    0.365144
2011Q4   -0.524966
2012Q1    1.718699
2012Q2   -0.298094
2012Q3    0.905754
2012Q4   -0.331326
2013Q1    0.390667
2013Q2   -1.436556
2013Q3   -0.091950
2013Q4   -0.874102
Freq: Q-DEC, dtype: float64

We can convert periodIndex into datetimeIndex

In [50]:
pst = ps.to_timestamp()
pst

2011-01-01   -1.171980
2011-04-01    0.663104
2011-07-01    0.365144
2011-10-01   -0.524966
2012-01-01    1.718699
2012-04-01   -0.298094
2012-07-01    0.905754
2012-10-01   -0.331326
2013-01-01    0.390667
2013-04-01   -1.436556
2013-07-01   -0.091950
2013-10-01   -0.874102
2014-01-01   -1.039286
2014-04-01    0.351784
2014-07-01   -1.086036
2014-10-01   -0.896850
2015-01-01   -0.652536
2015-04-01   -0.755954
2015-07-01    0.361745
2015-10-01    0.515569
2016-01-01    1.166685
2016-04-01   -1.041813
2016-07-01   -0.187345
2016-10-01    0.149022
2017-01-01   -0.788924
Freq: QS-OCT, dtype: float64

We can convert datetimeIndex into periodIndex

In [53]:
ps = pst.to_period()
ps

2011Q1   -1.171980
2011Q2    0.663104
2011Q3    0.365144
2011Q4   -0.524966
2012Q1    1.718699
2012Q2   -0.298094
2012Q3    0.905754
2012Q4   -0.331326
2013Q1    0.390667
2013Q2   -1.436556
2013Q3   -0.091950
2013Q4   -0.874102
2014Q1   -1.039286
2014Q2    0.351784
2014Q3   -1.086036
2014Q4   -0.896850
2015Q1   -0.652536
2015Q2   -0.755954
2015Q3    0.361745
2015Q4    0.515569
2016Q1    1.166685
2016Q2   -1.041813
2016Q3   -0.187345
2016Q4    0.149022
2017Q1   -0.788924
Freq: Q-DEC, dtype: float64

## Exercise

In [54]:
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [57]:
df.set_index('Line Item', inplace = True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [60]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [62]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [63]:
df.index = pd.PeriodIndex(df.index, freq = 'Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [64]:
df['Start date'] = df.index.map(lambda x : x.start_time)
df

Line Item  Revenue  Expenses  Profit Start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [67]:
df['End date'] = df.index.map(lambda x : x.end_time)
df

Line Item  Revenue  Expenses  Profit Start date                      End date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999